<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxy.infrastructure.dao.ImUserFriendDao">

    <!--定义接口方法对应的 SQL 语句-->
    <select id="queryAllFriendByUserId" resultType="string">
        select user_friend_id
        from im_user_friend
        where user_id = #{userId}
    </select>

</mapper>
