@import "chat.css";
@import "friend.css";
@import "search.css";
@import "operation.css";

#Chat{
    -fx-background-radius: 20px;
    -fx-background-color: #03e9f4;


}

#bar{
    -fx-border-width: 2px;
    -fx-border-radius: 20px 0 0 20px;
    -fx-border-color: #03e9f4;

    -fx-background-color: linear-gradient(#0e6671, #0b4050);
    -fx-background-radius: 20px 0 0 20px;
}

#profile{
    -fx-cursor: hand;
}


.bar_chat_item{
    -fx-background-radius: 2px;
    -fx-cursor: hand;
    -fx-border-radius: 2px;

    -fx-text-fill: #0099cc;

    -fx-pref-height: 30px;
    -fx-pref-width: 30px;

}

#bar_chat{
    -fx-text-fill: #03e9f4;
}
/*.bar_chat_item:hover{*/
/*    -fx-background-radius: 2px;*/

/*    -fx-cursor: hand;*/
/*    -fx-border-radius: 2px;*/

/*    -fx-text-fill: #03e9f4;*/
/*}*/

#bar_set:hover{
    -fx-background-radius: 2px;

    -fx-cursor: hand;
    -fx-border-radius: 2px;

    -fx-text-fill: #03e9f4;
}