@import "chat.css";
@import "friend.css";
@import "search.css";
@import "operation.css";

#Chat{
    -fx-background-radius: 20px;
    -fx-background-color: #03e9f4;


}

#bar{
    -fx-border-width: 2px;
    -fx-border-radius: 20px 0 0 20px;
    -fx-border-color: #03e9f4;

    -fx-background-color: linear-gradient(#0099cc, #0b4050);
    -fx-background-radius: 20px 0 0 20px;
}

#profile{
    -fx-cursor: hand;
}


.bar_chat_item{
    -fx-background-radius: 2px;
    -fx-cursor: hand;
    -fx-border-radius: 2px;

    -fx-text-fill: #99cccc;

    -fx-pref-height: 30px;
    -fx-pref-width: 30px;

}

#bar_chat{
    -fx-text-fill: #03e9f4;
}


#bar_set:hover{
    -fx-background-radius: 2px;

    -fx-cursor: hand;
    -fx-border-radius: 2px;

    -fx-text-fill: #03e9f4;
}

#invalidPane{
    -fx-background-color: linear-gradient(#0099cc, #0b4050);
    -fx-background-radius: 0 0 20px 0;
}

#logo{
    -fx-text-fill: #99cc00;;
    -fx-translate-x: 220;
    -fx-translate-y: 190;
    -fx-font-size: 200px;
    -fx-font-weight: 30px;
    -fx-font-family: "Blackadder ITC";


}